 /* Flexbox content */

.item_header {
    justify-content: start;
    display: flex;
    direction: ltr;
}
.item_nav_social,
.item_header,
.item_footer{
    background-image: linear-gradient(to right, rgb(128, 176, 192), var(--prime_color), rgb(128, 176, 192), var(--prime_color));
}
#logo{
    font-size: 2em;
    font-weight: 600;
    margin: 1em;
    color: var(--prime_color);
}
.nav_wrapper{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    min-height: 6em;
}
/* Buttons  */
.button_nav a{
    border-radius: 10%;
    text-decoration: none;
    color: var(--contrast_text_white);
    display: block;
    width: 7em;
    min-height: 2em;
    text-align: center;
    padding-top: 4%;
    box-sizing: border-box;
    background-color: var(--button_color);
    display: block;
}
a:hover{
    color: var(--text_color);  
}
/* main section */
.flex_main{
    display: flex;
    justify-content: space-around;
    flex: row wrap;
}
.flex_main,
.articel_wrapper,
.item_section2{
    background-color: rgb(248, 243, 234);
}
.flex_item_main h1{
    text-align: center;
}
.flex_item_main{
    width: 50%;
    padding: 1em;
}
.flex_item_main p{
    padding-bottom: 1em;
    text-align: center;
}
/* Social media section */
.item_nav_social {direction: rtl;}
.item_nav_social ul {margin: 1em;}
.item_nav_social li{padding: 0 2em;}
.item_nav_social img {width: 3em;}

/* Article section */
.articel_wrapper {
    min-height: 20em;
    background: url(../images/businessmen.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}
/* Section section */
.item_section2{
    height: 20em;
    overflow: scroll;
}
.sec_list a{
    font-weight: 600;
}

/* Footer */
.item_footer a,
.item_footer{
    color: var(--contrast_text_white);
}
.item_footer{
    display: flex;
    flex: row wrap;   
}
.foot_item{
    padding: 2em 5em;
}

/* FORM SUBSCRIBE */

.container{
    border: 3px solid #333;
    width: 69%;
    margin: 2% auto;
    padding: 2rem 3rem;
}
#display{
    min-height: 2rem;
}
#display,
.width,
#fName,
#lName{
    width: 14.5rem;
}
.pointer{
    font-size: x-large;
}




