.art_main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
.animate{
    width: 100%;
}
.animate:hover .item{
    transform: translate(3px, 3px);
}
.item{
    transition: transform 300ms ease-in-out;
    display: flex;
    flex: wrap;
    margin: 2%;
    min-width: 5em;
    min-height: 4em;
    background-color: rgb(120, 120, 121); 
}